////////////////////////////////////////////////////
// Base Col Style
////////////////////////////////////////////////////
$num_cols: 12;
$gutter: 20;
$base_perc: 100% / $num_cols;

////////////////////////////////////////////////////
// Breaks
////////////////////////////////////////////////////
$default_breakpoints: (
  default 480, 
  med 768, 
  lrg 960, 
  xlrg 1024, 
  xxlrg 1360
);

////////////////////////////////////////////////////
// Proportions
////////////////////////////////////////////////////
$default_proportions: (
  full 100%, 
  three-quarters 75%, 
  two-thirds 66.666666%, 
  one-half 50%, 
  one-third 33.333333%, 
  one-quarter 25%
);